.mostPopularContent{
  background: #e7e7e7;
}

.mostPopularContent .content
{
    padding: 80px 0 82px 0;
}

.mostPopularContent ul
{
    display: table;
    padding: 0;
}

.mostPopularContent li
{
    display: table-cell; 
    width: 400px;  
    overflow: hidden;
}

.mostPopularContent li:last-child
{
    width: 370px;
}

.mostPopularContent li img
{
    float:left;
}

.mostPopularContent li .text{
	width:270px;
	float: right;
	margin-left: 30px;
	margin-right: 30px;
 }
 
 
 .mostPopularContent li:last-child .text
{
    margin-right: 0;
}

 .mostPopularContent .text h3
{
    font:21px FjallaOne;
    font-weight:normal;
    margin: -2px 0 0 0;
    letter-spacing: 0.035em;
    text-transform: uppercase;
}
 
.mostPopularContent .text p{
	font:14px Lato;
	color: #767c7e;
	-webkit-margin-after: 0;
	-webkit-margin-before: 14px;
	line-height: 25px;
	margin: 15px 0 0 0;
    letter-spacing: -0.012em;
}
 
 .mostPopularContent .text a{
	color:#e84c3d;
	text-decoration: none;
    margin-left: 5px;
 }
