@font-face {
    font-family: FjallaOne; 
    src: url(../fonts/FjallaOne-Regular.ttf); 
}
@font-face {
    font-family: Lato; 
    src: url(../fonts/Lato-Regular.ttf); 
}
@font-face {
    font-family: Oswald; 
    src: url(../fonts/Oswald-Regular.ttf); 
}

body{
	margin: 0;
}

header, .banner, .feedBackSection, .mainContent, .mostPopularContent, .searchPanel, footer
{
    min-width: 1170px;
}

header {
	background: #202628;
	color: white;	  
}

header .content{	
	overflow:hidden;
}

header .siteName
{
    font: 25px FjallaOne;
	float: left;
    padding: 26px 0 0 0;
    text-transform:uppercase;
}

header .rightBlock
{
    float: right;
}

header .menu{
    display: table;   
    text-transform: uppercase;
}

header .menu li{
	display: table-cell;
    font: 13px FjallaOne;
    letter-spacing: 0.025em;
}

header .menu li a
{
    text-decoration: none;
    color: white;
    display: inline-block;
    line-height: 80px;
    padding: 0 22px 0 22px;
}

header .menu li:last-child a
{
    padding-right: 10px;
}

header a:hover
{
    background:#e84c3d;
}

.content{
  font-size:0px;
  margin: 0 auto;
  width: 1170px;
}

.image, .sectionText{	
	display:inline-block;
}
 
footer{
  height: 205px;
  background:#202628;
  margin:0;
}

footer .content{
	font: 14px Lato;
	color: #e7e7e7; 
	overflow: hidden;
    padding-top: 77px;

}

footer .sectionLeft{
	display: inline-block;
	float: left;
}

footer .sectionRight{
	display: inline-block;
	float: right;
    margin-top:2px;
}

footer .footerText{
	letter-spacing: 0.025em;
}

.content .sectionRight img{
	margin-left: 7px;
}

footer p{
	display: inline-block;
	margin: 12px 0 0 0;
	letter-spacing: -0.009em;
}

footer .footerSeparatop
{
    margin: 0 15px 0 15px;
    color: #595f61; 
}

footer .greyText{
	color: #595f61; 
}

footer .orangeText{
	color: #e84c3d;
}